@mixin universal($fonfam:null, $foncol:null){
  font-family: $fonfam;
  color: $foncol;
  box-sizing: border-box;
};

@mixin roundy($rad,
  $brdside: null,
  $brdr: nul l){
    border-radius: $rad;
    @if $brdside == border {
      border: $brdr;
    }
    @if $brdside == left {
      border-left: $brdr;
    }
    @if $brdside == right {
      border-right: $brdr;
    }
    @if $brdside == bottom {
      border-bottom: $brdr;
    }
    border-radius: $rad;
};

@mixin gallerygrid($minwidth, $gap){
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax($minwidth, 1fr));
  grid-auto-flow: row;
  grid-gap: $gap;
}
